CREATE DATABASE [SQLMON] ON  PRIMARY 
(
    NAME        = N'SQLMON',
    FILENAME    = N'D:\SQL\DATA\SQLMON.mdf',
    SIZE        = 512MB,
    FILEGROWTH  = 128MB
)
 LOG ON 
(
    NAME        = N'SQLMON_log',
    FILENAME    = N'D:\SQL\DATA\SQLMON_log.ldf',
    SIZE        = 16MB,
    FILEGROWTH  = 16MB
)
GO
USE [SQLMON]
GO
IF NOT EXISTS(SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY')
    ALTER DATABASE [SQLMON] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
